---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PostListItem from '../components/PostListItem.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <div class="space-y-12">
    <div class="flex flex-col">
      {
        posts.map((post) => (
          <PostListItem
            title={post.data.title}
            description={post.data.description}
            date={post.data.pubDate.toLocaleDateString('en-us', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })}
            image={post.data.heroImage?.src ?? ''}
            href={`${import.meta.env.BASE_URL}post/${post.slug}/`}
            category={post.data.category}
            tags={post.data.tags}
          />
        ))
      }
    </div>
  </div>
</Layout>
